@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


:root {
    --first-color: #8960fb;
    --second-color: #dc9f98;
}
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.half {
    position: absolute;
    height: 50vh;
    z-index: 2;
    width: 100vw;
    background-color: white;
    overflow: hidden;
}


h1 {
    background-clip: border-box;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 7rem;
    font-family: 'Satisfy', cursive;
    /* background: linear-gradient(-45deg, var(--first-color), var(--second-color), var(--first-color));
    background-size: 20% 20%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 20s ease infinite; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

}


.bar {
    position: absolute;
    z-index: 2;
    height: 5vh;
    background: linear-gradient(-45deg, var(--first-color), var(--second-color), var(--first-color));
    background-size: 400% 400%;

}

#top {
    top: 0;
}

#top h1 {
    bottom: -75px;

}

#top .bar {
    bottom: 0;
    right: 0;
    animation: gradient 20s ease infinite;
}

#bottom {
    bottom: 0;
}

#bottom h1 {
    top: -75px;
}

#bottom .bar {
    animation: gradient 20s ease infinite reverse;
}

.settings-bar {
    width: 0;
    height: 90vh;
    position: absolute;
    z-index: 1;
    top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    background-color:white;
    border-right: 1px solid rgba(128, 128, 128, 0.411);

}

.settings-bar:hover {
    width: 200px

}

.settings-bar:hover .arrow {
    transform: rotate(180deg);
}


.pull-container {
    width: 56px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -56px;
}

.arrow-container {
    background-color: white;
    border-radius: 0 5px 5px 0;
    border-right: 1px solid rgba(128, 128, 128, 0.411);
    border-top: 1px solid rgba(128, 128, 128, 0.411);
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);


}

.arrow {
    font-size: 2rem;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

@media screen and (max-width: 1080px) {
    .arrow {
    font-size: 1.5rem;

    }
}

.content {
    width: 200px;
    height: 100%;
    display: flex;
    overflow: hidden;
    padding: 30px 0;
    flex-direction: column;
    justify-content: space-evenly;
}

.attribute {
    font-family: 'Satisfy', cursive;
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: center;
    width: 200px;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#base-color-picker {
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 100px;
}

.form-range {
    width: 70% !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }



