@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


:root {
    --first-color: #8960fb;
    --second-color: #dc9f98;
}
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.half {
    position: absolute;
    height: 50vh;
    z-index: 2;
    width: 100vw;
    background-color: white;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.hello-text {
    opacity: 0;
}


h1 {
    background-clip: border-box;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 7rem;
    font-family: 'Satisfy', cursive;
    background: linear-gradient(-45deg, var(--first-color), var(--second-color), var(--first-color));
    background-size: 40% 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 20s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

}


.bar {
    position: absolute;
    z-index: 2;
    height: 5vh;
    background: linear-gradient(-45deg, var(--first-color), var(--second-color), var(--first-color));
    background-size: 400% 400%;

}

#top {
    top: 0;
}

#top h1 {
    bottom: -150px;

}

#top .bar {
    right: 0;
    animation: gradient 20s ease infinite;
}

#bottom {
    bottom: 0;
}

#bottom h1 {
    top: -150px;
    bottom: 0;
}

#bottom .bar {
    animation: gradient 20s ease infinite reverse;
    bottom: 0;

}

.settings-bar {
    width: 200px;
    height: 90vh;
    position: absolute;
    z-index: 1;
    top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    background-color:white;
    border-right: 1px solid rgba(128, 128, 128, 0.411);
    left: -200px;
}

.settings-bar:hover {
    left: 0;

}

.settings-bar:hover .arrow {
    transform: rotate(180deg);
    color: var(--second-color);

}


.pull-container {
    width: 90px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: linear-gradient(90deg,white, rgba(255, 255, 255, 0));
    right: -90px;
}


.arrow {
    font-size: 2rem;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    color: var(--first-color);
}

@media screen and (max-width: 1080px) {
    .arrow {
    font-size: 1.5rem;

    }
}

.content {
    width: 200px;
    height: 100%;
    display: flex;
    overflow: hidden;
    padding: 30px 0;
    flex-direction: column;
    justify-content: space-evenly;
}

.attribute {
    background-clip: border-box;
    font-family: 'Satisfy', cursive;
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: center;
    width: 200px;
    background: linear-gradient(-45deg, var(--first-color), var(--second-color), var(--first-color));
    background-size: 40% 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 1px;
    flex-grow: 1;
    justify-content: center;
}

.color-picker {
    width: 110%;
    height: 80px;
    position: absolute;
}

.color-picker-container {
    width: 60%;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-picker:hover{
    cursor: pointer;

}

.form-range {

    -webkit-appearance: none;
    padding-top: 1vh;

}
.form-range:focus {
    outline: none;
  }

  .form-range::-webkit-slider-runnable-track {
    width: 70%;
    height: 10px;
    cursor: pointer;
    background-color: var(--first-color);
    border-radius: 25px;
    border: 1px solid #8a8a8ab4;
  }

  .form-range::-webkit-slider-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: var(--second-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }


  #reset-button {
    background: linear-gradient(-45deg, var(--first-color), var(--second-color), var(--first-color));
    padding: 10px;
    height: 40px;
    width: 60%;
    border: none;
    border-radius: 20px ;
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 1rem;
  }

  #reset-button:hover {
      cursor: pointer;
  }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }



